.entrada {
    width: 0;
    height: 0;    	 
    border-top: 9px solid #000;
    border-right: 9px solid transparent;          
    border-bottom: 9px solid transparent;	 
    border-left: 9px solid #000;     
    float: left;  
    
  }
  
.entrada:before {
    content:'';
    z-index:1;
    display:block;
    width: 0;
    height: 0;     
    border-top: 8px solid #fff;
    border-right: 8px solid transparent;          
    border-bottom: 8px solid transparent;	 
    border-left: 8px solid #fff;
    position:relative;
    top:-9px;
    left:-9px;    
}